* {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;

    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    text-align: center;
}

div {
    margin: 1em;
}

p {
    margin: 0.5em;
}

a {
    color: #536dfe; /* indigo A200 */

    text-decoration: none;

    font-size: inherit;
    font-weight: inherit;
}

a:hover {
    border-bottom: 2px solid #536dfe; /* indigo A200 */
}

h1 {
    font-size: 24px;
    font-weight: 700;

    margin: 0.5em;
}

h2 {
    font-size: 20px;
    font-weight: 700;

    margin: 0.5em;
}

h3 {
    font-size: 18px;
    font-weight: 700;

    margin: 0.5em;
}

input[type="text"] {
    outline: none;
    border: none;

    border-bottom: 2px solid #536dfe; /* indigo A200 */

    color: #536dfe; /* indigo A200 */

    padding: 10px 20px;
}

input[type="button"] {
    outline: none;

    border: 2px solid #536dfe; /* indigo A200 */

    background-color: #ffffff;
    color: #536dfe; /* indigo A200 */

    padding: 10px 20px;

    --webkit-transition: background-color 0.25s, color 0.25s;
    --moz-transition: background-color 0.25s, color 0.25s;
    transition: background-color 0.25s, color 0.25s;
}

input[type="button"]:hover {
    background-color: #536dfe; /* indigo A200 */
    color: #ffffff;

    cursor: pointer;
}

#wrapper {
    margin: 0;
    padding: 0;
}

/*** Heading ***/

#heading {
    background-color: #cfd8dc; /* blue grey 100 */

    padding: 20px;
    margin: 0;
}

#heading h1 {
    margin: 0;
}

/*** User view ***/

#userView_image {
    width: 200px;
    height: 200px;
}

#userView_basicInfo p {
    margin: 0;
}

#userView_repos {
    padding: 0;

    list-style-type: none;
}
